body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	background-color: #fff;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border-bottom: 1px solid rgb(102, 100, 100);
}

.m-left {
	float: left;
}

.m-right a { 
	float: right;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 5px;
	margin-right: 15px;
}

.m-left .logo {
	text-decoration: none;
	flex: 1;
	font-size: 25px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	margin-left: 15px;
}

.m-link  {
	color: #000;
	text-decoration: none;
	transform: uppercase;
	font-size: 18px;
	font-family: sans-serif;
	margin-left: 65px;
	
	border-bottom: 2px solid transparent;
	display: inline-block;
	height: 64px;
}

.m-left2 {
	display: none;
} 

.m-center.active {
	right: 0%;
}

.next-menu.active {
	right: 0%;
}

.m-other.is-open {
	transform: translateX(0);
}

.other-search .fa-search {
	display: none;
}

.m-center .fa-heart {
	display: none;
} 

.m-other {
	display: none;
}

.m-center .btn {
	display: none;
}

.m-center .btn-ourline {
	display: none;
}

.m-right .fa-search {
	display: none;
}

img {
	display: none;
}

.m-endpage {
	display: none;
}

.fa-bars {
	display: none;
}

.fa-times {
	display: none;
}

.m-center h2 {
	display: none;
}

@media screen and (max-width: 414px) {

	.m-center {
		position: absolute;
		top: auto;
		right: -100%;
		width: 315px;
		height: 100vh;
		background: #fff;
		transition: all 0.4s ease-in-out;
		position: fixed;
		overflow-y: auto;
	}

	.m-other { 
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translateY(-100%);
		transition: all 0.4s ease-in-out;
		position: fixed;
		overflow-y: auto;
	}

	.other-infos h2 {
		color: rgb(102, 100, 100);
		text-decoration: none;
		font-family: sans-serif;
		font-size: 15px;
	}

	.m-center .menu {
		width: 100%;
		margin-top: 80px;
	}

	.m-center .menu .item {
		position: relative;
		cursor: pointer;
	}

	.m-center .menu .item a {
		color: #000;
		font-size: 22px;
		text-decoration: none;
		line-height: 60px;
		display: block;
		padding: 5px 30px;
		font-family: sans-serif;
		font-weight: bold;
	}

	.m-center .menu .item a .down {
		position: absolute;
		right: 0;
		margin-top: 20px;
		margin-right: 20px;
		transition: 0.3s ease;
	}

	.m-center .menu .item .next-menu {
		display: none;
	}

	.m-center .menu .item .next-menu a {
		background: #fff;
		color: #000;
		padding-left: 50px;
		transition: all 0.3s ease-in-out;
	}

	.rotate {
		transform: rotate(90deg);
	}

	.m-center .btn {
		display: flex;
		color: #fff;
		background: #000;
		padding: 10px 18px;
		border-radius: 24px;
		font-size: 14px;
		margin-top: 15px;
	}
	
	.m-center .btn-ourline {
		display: flex;
		color: #000;
		padding: 10px 18px;
		border-radius: 24px;
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 15px;
	}

	.other-search .fa-search {
		color: #000;
		float: right;
		margin-top: 23px;
		margin-right: 20px;
		font-size: 21px;
	}

	.other-search .fa-search {
		display: flex;
	}

	.other-burger .fa-bars {
		display: flex;
		color: #000;
		float: right;
		margin-top: 22px;
		font-size: 23px;
		margin-right: 20px;
	}

	.other-return .fa-times {
		display: flex;
		font-size: 25px;
		margin-top: 15px;
		float: right;
		margin-right: 20px;
	}

	.other-close .fa-times {
		display: flex;
		font-size: 28px;
		float: right;
		margin-top: 20px;
		margin-right: -145px;
		padding: 10px 15px;
		background: #efefef;
		border-radius: 100px;
	}

	.m-right {
		display: none;
	}

	.m-other h3 {
		color: rgb(102, 100, 100);
		display: flex;
		margin-top: 125px;
		margin-left: 20px;
		font-family: sans-serif;
		text-decoration: none;
	}

	.search {
		width: 200px;
		
		margin-top: 20px;
		float: left;
		margin-left: -190px;
		display: flex;
	}
	
	.search__input {
		width: 180px;
		height: 16px;
		font-size: 18px;
		background-color: #efefef;
		border: none;
		padding: 15px 30px;
		border-radius: 100px;
		margin-right: -50px;
	}

	.search__input:focus {
		outline: none;
		background-color: #f0eeee;
	}
	
	.search__input::-webkit-input-placeholder {
		font-size: 18px;
		color: #ccc;
	}

	.fa-search {
		color: #000;
		font-size: 22px;
		margin-top: 12px;
	}
}