body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

header {
	background-color: #fff;
	width: 100%;
	height: 66px;
	line-height: 66px;
	border-bottom: 1px solid rgb(102, 100, 100);
}

.m-left {
	float: left;
}

.m-right a { 
	float: right;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 5px;
	margin-right: 15px;
}

.m-left .logo {
	text-decoration: none;
	flex: 1;
	font-size: 25px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	margin-left: 15px;
}

.m-link  {
	color: #000;
	text-decoration: none;
	transform: uppercase;
	font-size: 18px;
	font-family: sans-serif;
	margin-left: 65px;
	
	border-bottom: 2px solid transparent;
	display: inline-block;
	height: 64px;
}

.m-link:hover {
	border-color: #000;
	transition: .3s;
}

.m-left2 {
	display: none;
}

.m-nav-toggle {
	position: relative;
	width: 40px;
	height: 66px;

	display: none;
	align-items: center;
	float: right;
	cursor: pointer;
	margin-right: 15px;
	margin-top: -15px;
}

span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background: #000;
	position: relative;
} 

span.m-toggle-icon:before{top: 10px;}
span.m-toggle-icon:after{top: -12px;}

.m-center.is-open {
	transform: translateX(0);
}

.m-other.is-open {
	transform: translateX(0);
}

.m-center p {
	display: none;
}	

.other-search .fa-search {
	display: none;
}

.m-center .fa-heart {
	display: none;
} 

.m-center .fa-shopping-bag {
	display: none;
} 

.m-other {
	display: none;
}

.m-center .btn {
	display: none;
}

.m-center .btn-ourline {
	display: none;
}

.m-right .fa-search {
	display: none;
}

img {
	display: none;
}

@media screen and (max-width: 414px) {

	.m-nav-toggle {
		display: flex;
		margin-top: auto;
	}

	.m-center {
		position: absolute;
		top: auto;
		right: 0;
		width: 275px;
		height: 100%;
		background: #fff;
		transform: translateX(100%);
		transition: all 0.3s ease-in-out;
	}

	.m-other { 
		position: absolute;
		display: flex;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		transform: translateY(-100%);
		transition: all 0.3s ease-in-out;
	}

	.m-other p {
		display: block;
		color: rgb(102, 100, 100);
		font-size: 15px;
		font-family: sans-serif;
		font-weight: bold;
		align-items: center;
	}

	img {
		display: flex;
		max-width: 310px;
	}

	.m-center p {
		display: flex;
		color: rgb(102, 100, 100);
		text-decoration: none;
		font-family: sans-serif;

	}

	.m-center .m-link {
		display: block;
		color: #000;
		align-items: center;
		margin: 0 20px;
		padding: 0;
	}

	.m-center .btn {
		display: flex;
		color: #fff;
		background: #000;
		padding: 10px 18px;
		border-radius: 24px;
		font-size: 14px;
	}
	
	.m-center .btn-ourline {
		display: flex;
		color: #000;
		padding: 10px 18px;
		border-radius: 24px;
		font-size: 14px;
		margin-top: 10px;
	}

	.other-search .fa-search {
		color: #000;
		float: right;
		margin-top: 23px;
		margin-right: 20px;
		font-size: 21px;
	}

	.other-search .fa-search {
		display: flex;
	}

	.fa-shopping-bag {	
		display: none;
	}

	.fa-heart {
		display: none;
	}

	.fa-user-circle {
		display: none;
	}

	.endpage {
		display: flex;
		color: #000;
		text-decoration: none;
		font-family: sans-serif;
		font-size: 20px;
		font-weight: bold;
	}

	.endpage  .fa-shopping-bag {
		display: flex;
		color: #000;
		font-size: 18px;
	}

	.endpage  .fa-user-circle {
		display: flex;
		color: #000;
		font-size: 18px;
	}
}